[Desktop Entry]
Name=Gearboy
Comment=Game Boy / Gameboy Color emulator and debugger.
Type=Application
TryExec=gearboy
Exec=gearboy %u
Icon=gearboy
Terminal=false
Categories=Game;
Keywords=GBC

X-Desktop-File-Install-Version=0.26
